<%- include('partials/header'); -%>
<% var test = 0; %>
<!-- ***********Navbar Starts*************** -->
<section id="jumbo-page2">
    <div style="text-align: right; padding-right: 20px">
        <a href="/logout"><button type="submit" id="jb-btn" class="btn btn-primary">Logout</button></a>
    </div>
  <div class="jumbotron jumbotron-fluid" id="jb-m">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h2>Welcome to your profile</h2>
                <h1 class="display-3"><%= user.name %></h1>
            </div> 
            <div class="col-md-4 col-sm-4">
                    <i class="fas fa-users fa-10x"></i>
                </div> 
            
        </div>
      </div>
    </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#fff" fill-opacity="1" d="M0,128L80,112C160,96,320,64,480,85.3C640,107,800,181,960,192C1120,203,1280,149,1360,122.7L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
  </svg>
  


</section>
<div><h3 class="text-center font-weight-bold">All of your current data entries are below</h3></div>
<div class="container">
    <div class="row">
        <% vitian.forEach(function(vitian){ %>
          <% test++ %>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <!--cards of all vitian -->
          <div class="card" style="width: 20rem;">
                <div class="card-body">
                        <h6 style="font-weight: bold">data of Train</h6>
                        
                  <h5 class="card-title"><%= vitian.name%></h5>
                  <h5><span><i class="fab fa-whatsapp"></i></span><%= vitian.number%></h5>
                  <h6><span style="font-weight: bold">Station</span>  <%= vitian.station%></h6>
                  <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Travel Date</th>                           
                            <th scope="col">Train Number</th>                           
                            <th scope="col">Train Car</th>
                            <th scope="col">Train seat</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><%= vitian.date%></td>
                            <td><%= vitian.trainnumber%></td>
                            <td><%= vitian.CarNumber%></td>
                            <td><%= vitian.CarSeat%></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
          </div>
        </div>
        <% }); %>
        <% allcabtoBANGALORE.forEach(function(allcabtoBANGALORE){ %>
          <% test++ %>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <!--cards of all vitian -->
              <div class="card" style="width: 20rem;">
                    <div class="card-body">
                            <h6 style="font-weight: bold">your cab to BANGALORE data</h6>
                      <h5 class="card-title"><%= allcabtoBANGALORE.Name%></h5>
                      
                      <h5><span><i class="fab fa-whatsapp"></i></span><%= allcabtoBANGALORE.WhatsApp%></h5>
                      <h5><%= allcabtoBANGALORE.Cab_Price%></h5>
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Price Per person</th>                           
                                <th scope="col">Total Seats</th>   
                                <th scope="col">Free Seats</th>   
                                <th scope="col">Date</th>                           
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><%= allcabtoBANGALORE.ppp%></td>
                                <td><%= allcabtoBANGALORE.Number_of_seats%></td>
                                <td><%= allcabtoBANGALORE.Free_Seats%></td>
                                <td><%= allcabtoBANGALORE.Date_Of_travel%></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
              </div>
            </div>
            <% }); %>
            <% allcabtoCHENNAI.forEach(function(allcabtoCHENNAI){ %>
              <% test++ %>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <!--cards of all vitian -->
                  <div class="card" style="width: 20rem;">
                        <div class="card-body">
                          <h6 style="font-weight: bold">your cab to CHENNAI data</h6>
                          <h5 class="card-title"><%= allcabtoCHENNAI.Name%></h5>
                          <h5><span><i class="fab fa-whatsapp"></i></span><%= allcabtoCHENNAI.WhatsApp%></h5>
                          <h5><%= allcabtoCHENNAI.Cab_Price%></h5>
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Price Per person</th>                           
                                    <th scope="col">Total Seats</th>   
                                    <th scope="col">Free Seats</th>   
                                    <th scope="col">Date</th>                           
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><%= allcabtoCHENNAI.ppp%></td>
                                    <td><%= allcabtoCHENNAI.Number_of_seats%></td>
                                    <td><%= allcabtoCHENNAI.Free_Seats%></td>
                                    <td><%= allcabtoCHENNAI.Date_Of_travel%></td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                  </div>
                </div>
                <% }); %>
    </div>
    <% if(test == 0) { %>
      <h4 style="text-align: center;color: red">As of now we don't have any entries from your side</h4>
      <h5 style="text-align: center;color: green">Have fun using TRAVEL BUDDY</h5>
    <% } %>
  </div>
<section id="querysection" style="margin-top: 70px;text-align: center">
    <div class="container">
        <h3>-------------------------</h3>
        <h3>Clear your data</h3>
        <h3>-------------------------</h3>
        <div class="row" style="text-align: center">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h4 class="card-title">Clear your cab to Bangalore data</h4>
                            <form action="/clearbangaloredata" method="post">
                                <div class="d-flex justify-content-center ">
                                    <button type="submit" id="jb-btn" class="btn">CLEAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h4 class="card-title">Clear your travelling history</h4>
                            <form action="/cleartravellingdata" method="post">
                                <div class="d-flex justify-content-center ">
                                    <button type="submit" id="jb-btn" class="btn">CLEAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h4 class="card-title">Clear your cab to Chennai data</h4>
                            <form action="/clearchennaidata" method="post">
                                <div class="d-flex justify-content-center ">
                                    <button type="submit" id="jb-btn" class="btn">CLEAR</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

  <footer class="footersection" id="footerfdiv">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1" d="M0,0L48,53.3C96,107,192,213,288,218.7C384,224,480,128,576,117.3C672,107,768,181,864,213.3C960,245,1056,235,1152,213.3C1248,192,1344,160,1392,144L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
          </svg>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12  footer-div text-center">
                <div>
                  <h3>ABOUT TRAVEL BUDDY</h3>
                  <p>It's always fun travelling with friends. This site will help you to find your Travel mates. As of now this site works only for the trains travelling via KATPADI JN. We are looking forward to extend our data for CHENNAI CENTRAL soon.</p>
                  <button  id="jb-btn" class="btn btn-primary"><a  style="color: #fff" href="/searchTrain">Home</a></button>
                </div>
            </div>
          </div>
          <div class="mt-5 text-center">
            <p>Copyright @2020 All rights reserved</p>
          </div>
          <div class="scrolltop float-right">
              <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>
          </div>
        </div>
      </footer>
      <script>
        $('.count').counterUp({
          delay: 10,
          time: 3000
        })
        mybutton= document.getElementById("myBtn");
    
        window.onscroll=function(){scrollFunction()};
        function scrollFunction(){
          if(document.body.scroll>20 || document.documentElement.scrollTop>20){
            mybutton.style.display="block";
          }else{
            mybutton.style.display="none";
          }
        }
        function topFunction(){
          document.body.scrollTop=0;
          document.documentElement.scrollTop=0;
        }
        
        </script>